.NavigationBar {
    background: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .1);
    box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .1);
    justify-content: normal;
    padding: .5rem 2em;
}

.NavigationBand {
    margin: 0 1rem;
}

.SearchBox {
    margin: 0 0 0 auto;
}