.ClientDetail {
    background: #ffffff;
    margin: 1em 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    text-align: center;
    padding: 2em 5em;
}

.Image {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    text-align: center;
}

.TagContent {
    font-size: 5em;
    color: black;
}

.Tag {
    font-weight: bold;
    font-family: "Arial Black";
    font-size: 5em;
    color: black;
}

.Info {
    display: flex;
    justify-content: space-between;
}

.Detail {
}