.WellStyles {
    width: 400px;
    height: 200px;
    margin: 0 auto 10px;
}

.NameSpan {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.NameContent {
    text-align: right;
    padding-right: 10px;
}

.NameContent-Edit {
    padding-top: 20px;
    display: inline-block;
    text-align: right;
}

.Input {
    width: 120px;
}

.AgeSpan {
    font-size: 18px;
    font-family: sans-serif;
}

.Avatar {
    width: 100px;
    height: auto;
    padding: 10px 0px;
}

.EditButton {
    border-style: none;
    background: #e8e8e8;
}

.WellBox {
    padding: 0px 15px;
}