.WellStyles {
    width: 400px;
    height: 200px;
    margin: 0 auto 10px;
}

.NameSpan {
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial Black";
}

.NameContent {
    text-align: right;
    padding-right: 10px;
}

.AgeSpan {
    font-size: 18px;
    font-family: 'Arial';
}

.Avatar {
    width: 100px;
    height: 100px;
}

.SaveButton {
    margin: 0 5px;
    font-weight: 100;
}